*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin-top: 75px;
}

.add-feed-fields {
  margin-top: 5px;
}

.article {
  margin: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.article-title-inline {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

audio {
  margin-top: 10px;
  }

img {
  max-width: 100%;
}

#primaryaudio, .share-tools--primary, .audio-module, #story-meta{
  display: none;
}

.article {
  border-bottom: 1px dotted;
}

iframe {
  display: none;
}

#plusIcon {
  color: rgb(172, 172, 172);
  margin-left: 900px;
  margin-top: 17px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  font-size: 14px;
}

#plusIcon:hover {
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
 }

#modal {
  opacity: 0.9;
 }

.modal-body {
  background-color: rgb(36, 31, 62);
  padding-left: 30px;
}

#catName {
  width:186px;
}

#chooseCategory {
  width: 225px;
}

#add-source-name {
  width: 225px;
}

#add-feed-link {
  width: 225px;
}
