body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-brand {
  font-size: 30px;
  font-weight: light;
  margin-left: none;
}

.content {
  margin-top: 75px;
}

.add-feed-fields {
  margin-top: 5px;
}

.article {
  margin: 5px;
  border-bottom: 1px dotted;
}

.article-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.article-title-inline {
  font-size: 30px;
  margin-bottom: 5px;
}

audio {
  margin: 10px;
  }

img {
  max-width: 100%;
}

#primaryaudio, .share-tools--primary, .audio-module, #story-meta{
  display: none;
}

iframe {
  display: none;
}

#sources {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
}

#titles {
  font-size: 16px;
  font-weight: bolder;
}

#articles {
  margin-top: 15px;
}

a {
  color: black;
}

.glyphicon-remove{
}
#feed-list{
  cursor: pointer;
}

.article-link-bar {
  float: right;
}

.podcast-link {
  /*max-width: 400px;*/
}
