body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin-top: 75px;
}

.add-feed-fields {
  margin-top: 5px;
}

.article {
  margin: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 5px;
}

.article-title-inline {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

audio {
  margin-top: 10px;
  }

img {
  max-width: 100%;
}

#primaryaudio, .share-tools--primary, .audio-module, #story-meta{
  display: none;
}

.article {
  border-bottom: 1px dotted;
}

iframe {
  display: none;
}

#plusIcon {
  color: rgb(172, 172, 172);
  margin-left: 900px;
  margin-top: 17px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}

#plusIcon:hover {
  cursor: pointer;
 /*height: 150px;
 width: `150px;*/
 /*margin-left: -50px;*/
}
